<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>POS System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
        .field-error {
            border-color: red;
            color: red;
        }
        th {
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsd"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/main">POS</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/main">메인</a></li>
            <li><a href="/items">상품 관리</a></li>
            <li><a href="/order">주문</a></li>
            <li><a href="/orders">주문 내역</a></li>
            <li class="active"><a href="/analysis">통계</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="isAnonymous()"><a href="/loginForm">로그인</a></li>
            <li sec:authorize="isAnonymous()"><a href="/join">회원가입</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/logout">로그아웃</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">통계</h1>
    </div>
</div>
<div class="container">
    <div class="py-5 text-center">
        <hr class="my-4">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>매출액</th>
                    <th>최다 판매 상품</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${salesPerDay}">10000</td>
                    <td th:text="${bestSeller}">10</td>
                </tr>
                </tbody>
            </table>
            <br /><br />
            <a href="#" th:href="@{/analysis/day}" class="btn btn-primary" role="button">하루 판매량</a>
            <a href="#" th:href="@{/analysis/week}" class="btn btn-primary" role="button">일주일 판매량</a>
            <a href="#" th:href="@{/analysis/month}" class="btn btn-primary" role="button">한달 판매량</a>
        </div>
        <hr class="my-4">
    </div>
    <div th:include="menu/footer.html" ></div>
</body>
</html>