<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>POS System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
        .field-error {
            border-color: red;
            color: red;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsd"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/main">POS</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/main">메인</a></li>
            <li class="active"><a href="/items">상품 관리</a></li>
            <li><a href="/order">주문</a></li>
            <li><a href="/orders">주문 내역</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="isAnonymous()"><a href="/loginForm">로그인</a></li>
            <li sec:authorize="isAnonymous()"><a href="/join">회원가입</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/logout">로그아웃</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">상품 입고</h1>
    </div>
</div>
<form action="basic/createItemForm" th:action th:object="${itemForm}" method="post">
    <div class="container">
        <div>
            <label th:for="code">상품 코드</label>
            <br>
            <input type="text" th:field="*{code}" th:errorclass="code" class="form-control"
                   placeholder="상품 코드를 입력해주세요">
            <div th:errors="*{code}" class="field-error"></div>
        </div><br/>
        <div>
            <label th:for="name">상품 이름</label>
            <br>
            <input type="text" th:field="*{name}" th:errorclass="name" class="form-control"
                   placeholder="상품 이름를 입력해주세요">
            <div th:errors="*{name}" class="field-error"></div>
        </div><br/>
        <div>
            <label th:for="price">상품 가격</label>
            <br>
            <input type="number" th:field="*{price}" th:errorclass="price" class="form-control"
                   placeholder="상품 가격을 입력해주세요">
            <div th:errors="*{price}" class="field-error"></div>
        </div><br/>
        <div>
            <label th:for="quantity">상품 수량</label>
            <br>
            <input type="number" th:field="*{quantity}" th:errorclass="quantity" class="form-control"
                   placeholder="상품 수량을 입력해주세요">
            <div th:errors="*{quantity}" class="field-error"></div>
        <br>
        <div>
            <button class="btn btn-primary form-control" type="submit">상품 입고</button>
        </div>
    </div>
    <br><br>
    <div th:include="menu/footer.html" ></div>
</form>
</body>
</html>