<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>POS System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsd"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/main">POS</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/main">메인</a></li>
            <li><a href="/items">상품 관리</a></li>
            <li class="active"><a href="/order">주문</a></li>
            <li><a href="/orders">주문 내역</a></li>
            <li><a href="/analysis">통계</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="isAnonymous()"><a href="/loginForm">로그인</a></li>
            <li sec:authorize="isAnonymous()"><a href="/join">회원가입</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/logout">로그아웃</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">주문</h1>
    </div>
</div>
<form action="basic/order" th:action method="post">
    <div class="container">
        <div class="form-group">
            <h2>상품 1</h2><br />
            <label th:for="item">상품명</label>
            <select name="item_id1" id="item" class="form-control">
                <option value="">상품선택</option>
                <option th:each="item : ${items}"
                        th:value="${item.item_id}"
                        th:text="${item.name}" />
            </select>
        </div>
        <br />
        <div class="form-group">
            <label th:for="quantity">상품 수량</label>
            <input type="number" name="quantity1" class="form-control" id="quantity" placeholder="주문 수량을 입력하세요">
        </div>

        <div class="form-group">
            <h2>상품 2</h2><br />
            <label th:for="item">상품명</label>
            <select name="item_id2" id="item" class="form-control">
                <option value="">상품선택</option>
                <option th:each="item : ${items}"
                        th:value="${item.item_id}"
                        th:text="${item.name}" />
            </select>
        </div>
        <br />
        <div class="form-group">
            <label th:for="quantity">상품 수량</label>
            <input type="number" name="quantity2" class="form-control" id="quantity" placeholder="주문 수량을 입력하세요">
        </div>
        <br />
        <div>
            <button class="btn btn-primary form-control" type="submit">주문하기</button>
        </div>
    </div>
    <br><br>
    <div th:include="menu/footer.html" ></div>
</form>
</body>
</html>